#header{
    padding: 20px;
    margin: 95px 10px 10px; /* Adjust the top margin to create space below the fixed navbar */
}
.right-column img{
    width: 40%;
    float: right;
    margin-right: 20px;
    border-radius: 30px;
}
.left-column {
    padding: 20px;
    margin: 20px;
    align-items: center;
}
.left-column h1{
    font-size: 100px;
    text-align: left;

}
.left-column h2{
    font-size: 30px;
    text-align: left;
}
.row-1{
    margin: 20px;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    padding: 30px 30px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #cfdfee;
}
.row-1 h1{
    font-size: 60px;
}
.row-1 h1{
    font-size: 60px;
}

.row-1 p{
    font-size: 20px;
    position: relative;
    text-align: center;
    color: rgb(65, 64, 64);
}

.heading{
    text-align: center;
    font-size: 30px;
}
.cards{
    box-sizing: border-box;
    font: 1em/1.618 Inter, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    padding: 10px;
    margin: 10px;
    color: #224;
}

.cards .card-1{
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    max-width: 350px;
    height: 250px;
    padding: 35px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.card-footer {
    font-size: 0.65em;
    color: #446;
}

.explorebtn{
    text-align: center;
    align-items: center;
    font-size: 20px;
}
.explorebtn a{
    text-decoration: none;
    padding: 20px;
    margin: 20px;
    min-height: 20vh;
    color: black;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.explorebtn a:hover{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

